"server_names" = ["quad9", "milan", "milan2"]
"listen_addresses" = ["@@INFISICAL:/dnscrypt-proxy/LISTEN_ADDRESSES_0@@"]
"max_clients" = 250
"ipv4_servers" = false
"ipv6_servers" = false
"dnscrypt_servers" = true
"doh_servers" = false
"odoh_servers" = false
"require_dnssec" = true
"require_nolog" = true
"require_nofilter" = true
"disabled_server_names" = []
"force_tcp" = false
"http3" = false
"http3_probe" = false
"timeout" = 5000
"keepalive" = 30
"log_files_max_size" = 10
"log_files_max_age" = 7
"log_files_max_backups" = 1
"cert_refresh_delay" = 240
"bootstrap_resolvers" = ["9.9.9.11:53", "8.8.8.8:53"]
"ignore_system_dns" = true
"netprobe_timeout" = 60
"netprobe_address" = "9.9.9.9:53"
"block_ipv6" = false
"block_unqualified" = true
"block_undelegated" = true
"reject_ttl" = 10
"cache" = true
"cache_size" = 4096
"cache_min_ttl" = 2400
"cache_max_ttl" = 86400
"cache_neg_min_ttl" = 60
"cache_neg_max_ttl" = 600
"captive_portals" = {  }
"local_doh" = {  }
"query_log" = { "format" = "tsv" }
"nx_log" = { "format" = "tsv" }
"blocked_names" = {  }
"blocked_ips" = {  }
"allowed_names" = {  }
"allowed_ips" = {  }
"schedules" = {  }
"sources" = { "public-resolvers" = { "urls" = ["https://raw.githubusercontent.com/DNSCrypt/dnscrypt-resolvers/master/v3/public-resolvers.md", "https://download.dnscrypt.info/resolvers-list/v3/public-resolvers.md"], "cache_file" = "public-resolvers.md", "minisign_key" = "RWQf6LRCGA9i53mlYecO4IzT51TGPpvWucNSCh1CBM0QTaLn73Y7GFO3", "refresh_delay" = 73, "prefix" = "" }, "relays" = { "urls" = ["https://raw.githubusercontent.com/DNSCrypt/dnscrypt-resolvers/master/v3/relays.md", "https://download.dnscrypt.info/resolvers-list/v3/relays.md"], "cache_file" = "relays.md", "minisign_key" = "RWQf6LRCGA9i53mlYecO4IzT51TGPpvWucNSCh1CBM0QTaLn73Y7GFO3", "refresh_delay" = 73, "prefix" = "" } }
"broken_implementations" = { "fragments_blocked" = ["cisco", "cisco-ipv6", "cisco-familyshield", "cisco-familyshield-ipv6", "cisco-sandbox", "cleanbrowsing-adult", "cleanbrowsing-adult-ipv6", "cleanbrowsing-family", "cleanbrowsing-family-ipv6", "cleanbrowsing-security", "cleanbrowsing-security-ipv6"] }
"doh_client_x509_auth" = {  }
"anonymized_dns" = { "routes" = [{ "server_name" = "quad9-dnscrypt-ip4-filter-pri", "via" = ["dnscry.pt-anon-milan-ipv4", "dnscry.pt-anon-geneva-ipv4"] }, { "server_name" = "dnscry.pt-milan-ipv4", "via" = ["anon-cs-berlin", "anon-cs-austria"] }, { "server_name" = "dnscry.pt-frankfurt02-ipv4", "via" = ["anon-cs-berlin", "anon-cs-austria"] }, { "server_name" = "dnscry.pt-munich-ipv4", "via" = ["anon-cs-berlin", "anon-cs-austria"] }], "skip_incompatible" = false }
"dns64" = {  }
"ip_encryption" = { "algorithm" = "none", "key" = "" }
"monitoring_ui" = { "enabled" = true, "listen_address" = "@@INFISICAL:/dnscrypt-proxy/MONITORING_UI_LISTEN_ADDRESS@@", "username" = "admin", "password" = "@@INFISICAL:/dnscrypt-proxy/MONITORING_UI_PASSWORD@@", "tls_certificate" = "", "tls_key" = "", "enable_query_log" = true, "privacy_level" = 1 }
"static" = { "milan" = { "stamp" = "sdns://AQcAAAAAAAAADzIxNy4xMzguMjE5LjIxOSAxM3KtWVYywkFrhy8Jj4Ub3bllKExsvppPGQlkMNupWh4yLmRuc2NyeXB0LWNlcnQuY3J5cHRvc3Rvcm0uaXM" }, "quad9" = { "stamp" = "sdns://AQMAAAAAAAAAEzE0OS4xMTIuMTEyLjExOjg0NDMgZ8hHuMh1jNEgJFVDvnVnRt803x2EwAuMRwNo34Idhj4ZMi5kbnNjcnlwdC1jZXJ0LnF1YWQ5Lm5ldA" }, "milan2" = { "stamp" = "sdns://gQ04Mi4xMTguMTYuMTIx" } }
