{
  "enable_warp": false,
  "warp_license_key": "",
  "warp_exclude_domains": [
    "strem.fun",
    "*.strem.fun",
    "torrentio.strem.fun",
    "real-debrid.com",
    "*.real-debrid.com",
    "realdebrid.com",
    "*.realdebrid.com",
    "api.real-debrid.com",
    "premiumize.me",
    "*.premiumize.me",
    "www.premiumize.me",
    "alldebrid.com",
    "*.alldebrid.com",
    "api.alldebrid.com",
    "debrid-link.com",
    "*.debrid-link.com",
    "debridlink.com",
    "*.debridlink.com",
    "api.debrid-link.com",
    "torbox.app",
    "*.torbox.app",
    "api.torbox.app",
    "offcloud.com",
    "*.offcloud.com",
    "api.offcloud.com",
    "put.io",
    "*.put.io",
    "api.put.io"
  ],
  "warp_exclude_domains_custom": [],
  "global_proxies": [
    "socks5h://gluetun:1081"
  ],
  "transport_routes": [],
  "extractor_proxies": {},
  "warp_off_extractors": [],
  "proxy_off_extractors": [],
  "proxy_exclude_domains": [],
  "max_res_extractors": [],
  "max_res_mpd": false,
  "max_res_hls": false,
  "dvr_enabled": false,
  "recordings_dir": "/data/recordings",
  "max_recording_duration": 28800,
  "recordings_retention_days": 7,
  "proxy_test_timeout": 10,
  "proxy_test_concurrency": null,
  "log_level": "DEBUG"
}
