[Unit]
Description=Check Streams-AIO public configuration every fifteen minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=15min
RandomizedDelaySec=1min
Unit=streams-aio-public-sync.service

[Install]
WantedBy=timers.target
